################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_Pokemon/API/PokemonSystemAPI/.vs/PokemonSystemAPI
/Project_Pokemon/API/PokemonSystemAPI/bin/Debug/net6.0
/Project_Pokemon/API/PokemonSystemAPI/obj
