################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_Pokemon/API/PokemonSystemAPI/.vs/PokemonSystemAPI
